*{
    margin: 0px;
    padding: 0px;
}
.header{
    /* border: 2px solid rgb(210, 13, 13); */
    background-color: rgb(25, 25, 26);
    color: rgb(138, 142, 142);
    text-align: center;
    padding: 10px;  
}
span{
    margin: 8px;
}
.headerimg{
width: 25px;
}
.firstdiv{
    border: 2px solid rgb(12, 13, 12);
    background-color: black;
    text-align: center;
    color: rgb(138, 142, 142);
    height: 650px;
}
.bigapple{
    /* border: 2px solid green; */
    text-align: center;
    width: 400px;
padding: 10px;
}

#wvdc24{
    font-size: 50px;
    /* border: 2px solid yellow; */
    padding-right: 60px; 
    color: white;  
}
#wvdc24apple{
    width: 50px;
    /* margin-top: 3%; */
}
#worldwide{
    /* border: 2px solid blue; */
    font-size:28px;
    color: white;
   
}
.learnmore{
  border: 0px solid ;
  background-color: rgb(6, 104, 165);
  border-radius: 19px;
  color: azure;
  font-size: 30px;
  padding: 8px;
  margin: 10px;  
}
.seconddiv{
    margin-top: 15px;
    border: 2px solid rgb(2, 9, 2);
    background-color: black;
    height:600px;
}
.iphonetitanium{
    height: 300px;
    /* border: 2px solid green; */
}
#iphone{
    /* border: 2px solid green; */
    color: white;
    text-align: center;
    margin-top: 40px;
    font-size: 68px;
}
#titanium{
    /* border: 2px solid green; */
    color: white;
    text-align: center;
    font-size: 34px;
}
.learnmore1{
    border: 0px solid ;
    background-color: rgb(6, 104, 165);
    border-radius: 19px;
    color: azure;
    font-size: 30px;
    padding: 8px; 
    
}
.twobtn{
text-align: center;
padding-top: 17px;
}
 #learnmore1{
    border: 2px solid  rgb(51, 51, 216);
    background-color: rgb(7, 8, 9); 
    border-radius: 19px;
    color: rgb(64, 54, 244);
    font-size: 23px;
    padding: 8px;
}
.proimg{
    height: 220px;
    /* border: 2px solid green;  */
    text-align: center;
   padding: 60px; 
}
.proimgone{
    /* border: 2px solid green; */
width: 700px;
}
.thirddiv{
    margin-top: 15px;
    border: 2px solid rgb(2, 9, 2);
    background-color: black;
    height:600px;
}
.fourthdiv{
    height: 1500px;
    width: 100%;
    /* border: 2px solid rgb(221, 20, 235); */
    background-color: white;
    margin-top: 15px;
    
}
.fourthdivone{
    height: 500px;
    width: 100%;
    /* border: 2px solid rgb(201, 8, 27); */
    display: flex;
}
.fourthdivoneone{
    height: 480px;
    width: 50%;
    /* border: 2px solid rgb(16, 16, 163); */
    margin: 6px 6px 6px 6px;   
}
#img1{
    height: 480px;
    width: 100%;
    background-color: rgb(10, 11, 11);
}
/* .student{
    display: inline-block;
    position: relative;
    top: 50px;
    left: 500px;
    
    color: rgb(11, 2, 2);
}
.mac{
    display: inline-block;
    position: relative;
    top: 50px;
    left: 500px;
    
    color: rgb(11, 2, 2);}
 .btn{
        display: inline-block;
        position: relative;
        top: 50px;
        left: 500px;
        
        color: rgb(11, 2, 2);} */
.fourthdivonetwo{
    height: 480px;
    width: 50%;
    /* border: 2px solid rgb(221, 20, 235); */
    margin: 6px 6px 6px 6px;
   
  
}
.fourthdivtwo{
    height: 500px;
    width: 100%;
    /* border: 2px solid rgb(16, 180, 79); */
    display: flex;
    
}
.fourthdivonethree{
    height: 480px;
    width: 50%;
    /* border: 2px solid rgb(221, 20, 235); */
    margin: 6px 6px 6px 6px;
    /* background-color: rgb(217, 22, 41); */
    
}
.fourthdivonefour{
    height: 480px;
    width: 50%;
    /* border: 2px solid rgb(221, 20, 235); */
    margin: 6px 6px 6px 6px;
    /* background-color: rgb(28, 161, 79); */
  
}
.fourthdivthree{
    height: 500px;
    width: 100%;
    /* border: 2px solid rgb(12, 12, 224); */
    display: flex;
    
}
.fourthdivonefive{
    height: 480px;
    width: 50%;
    /* border: 2px solid rgb(221, 20, 235); */
    margin: 6px 6px 6px 6px;
    /* background-color: rgb(169, 221, 15); */
   
}
.fourthdivonesix{
    height: 480px;
    width: 50%;
    /* border: 2px solid rgb(221, 20, 235); */
    margin: 6px 6px 6px 6px;
    /* background-color: rgb(15, 4, 4); */
    
}
.fifthdiv{
    width: 100%;
    height: 450px;
    /* border: 2px solid rgb(206, 15, 15);  */
}
/* .fifthimg{
    width: 100%;
    height: 450px; */
    /* border: 2px solid rgb(18, 200, 63);  */
/* } */
#bigimg{
    width: 98%;
    height: 430px;
    margin: 10px;
}
.sixthdiv{
    width: 99%;
    height: 300px;
   display: flex;
   justify-content: space-around;
  margin: 3px;
}
.sixthdiv img{
    max-width: 32%;
    height: 300px;
}
.seven{
    /* border: 2px solid rgb(202, 103, 10); */
    background-color: rgb(245, 245, 247);
    margin-top: 50px;
    
}
.content{
    
    color: rgb(192, 170, 170);
background-color: rgb(245, 245, 247);
font-size:small;
font-family: 'Times New Roman', Times, serif;
/* border: 2px solid rgb(75, 11, 226); */
margin-left: 15%;
margin-right: 15%;
}
.line{
    border: 1px solid rgb(192, 170, 170);
    height: 100%;
}
.one{
    list-style-position: inside;
    color: rgb(81, 67, 67);
    /* border: 2px solid rgb(74, 12, 188); */
    width: 20%;
    float: left;
    
    
}
#one{
    list-style-type: none;
    
}

#two{
    list-style-type: none;
    
}
.contentone{
    /* border: 2px solid rgb(10, 222, 74);  */
}
.list{
    /* border: 2px solid rgb(221, 122, 15); */
    height: 525px;
}
#three{
    list-style-type: none;  
}
#usa{
    text-align: right;
}
.Copyright{
    /* border: 2px solid rgb(42, 14, 165); */
    width: 60%;
}
.copyrightusa{
    /* border: 2px solid rgb(42, 14, 165); */
    width: 60%;
}
#store1{
    list-style: none;
    color: white;
}
#store2{
    color: white;
    list-style: none;
    
}
#store3{
    list-style: none;
    color: white;
}
.same{
    color: gray;
}
.hiddensectiondiv{
    /* border: 2px solid red; */
    display: block;
    display: flex;
}
 #store2{
    list-style: none;
    color: white;
    text-align: left;
   margin-left: 3em;
   font-size: 18px;
   margin-top: 19px;  
     
}
#store3{
    list-style: none;
    color: white;
    text-align: left;
   margin-left: 1em;
   font-size: 18px;
   margin-top: 19px;
}
.hiddensection{
    overflow: hidden;
    height: 0px;
    opacity: 0;
  transition: height 0.9s, opacity 0.9s;

}
#store1{
    list-style: none;
    color: white;
    text-align: left;
   margin-left: 16em;
   font-size: 20px;
   margin-top: 19px;
}
.store:hover~.hiddensection{
    height: 30rem;
    opacity: 1; 
}
.mac:hover~.hiddensection{
    height: 30rem;
    opacity: 1; 
}